:root {
    --font-m: 1rem;
    --font-l: 1.5rem;
    --font-xxl: 2.5rem;
    --color-default: rgb(6, 6, 6);
    --color-secondary: rgb(20, 20, 20);
    --color-tertiary: rgb(61, 61, 61);
    --color-font: rgb(245, 245, 245);
    --color-transparent: rgba(0, 0, 0, 0);
    --color-accent: rgb(255, 234, 77);
    --color-accent-light: rgb(255, 240, 190);
    --color-accent-secondary: rgb(139, 192, 232);
    --color-accent-secondary-dark: rgb(15, 60, 95);
    --color-semantic-positive: rgb(23, 218, 23);
    --color-semantic-negative: rgb(200, 27, 27);
    --border-radius-standard: 4px;
    --border-radius-smooth: 16px;
}

body {
    margin: 0;
    position: relative;
    background-color: var(--color-default);
    color: var(--color-font);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--font-m);
    padding-bottom: 100px; /* delete this later */
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body > header {
    position: sticky;
    top: 0;
}

#navigationBar {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--color-font);
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 2;
    transition: opacity 1.5s ease-out;
}

.id-navigation-link, h1, .section-title {
    user-select: none;
}

.id-navigation-link {
    color: var(--color-font);
    text-decoration: none;
    display: inline-block;
    box-shadow: inset 0 -1px 0 0 var(--color-transparent);
    margin: 1rem;
    transition: box-shadow 350ms ease-out;
}

.id-navigation-link:hover {
    box-shadow: inset 0 -1px 0 0 var(--color-font);
}

h1 {
    opacity: 0;
    margin: 1rem 1rem 2rem;
    font-size: var(--font-xxl);
    text-align: center;
    transition: opacity 1.5s ease-out;
}

.section-title {
    opacity: 0;
    margin: 1rem;
    font-size: var(--font-l);
    transition: opacity 1.5s ease-out;
}

.container-anim-frames {
    display: flex;
    flex-flow: row wrap;
    height: 400px;
}

.container-tenItems {
    width: 90%;
    margin: 0 5%;
}

.container-eightItems {
    width: 80%;
    margin: 0 10%;
}

.animation-frame {
    background-color: var(--color-default);
    transform: scale(0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 19%;
    margin: 0.5%;
    border-radius: var(--border-radius-standard);
    transition: transform 1.5s ease-out, background-color 1.5s ease-out;
}

.animation-frame-child {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.container-eightItems > .animation-frame {
    width: 24%;
    margin: 0.5%;
}

.top-left-corner {
    border-top-left-radius: var(--border-radius-smooth);
}

.top-right-corner {
    border-top-right-radius: var(--border-radius-smooth);
}

.bottom-left-corner {
    border-bottom-left-radius: var(--border-radius-smooth);
}

.bottom-right-corner {
    border-bottom-right-radius: var(--border-radius-smooth);
}

.floating-action-button {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-smooth);
    font-size: var(--font-xxl);
    background-color: var(--color-accent);
    border: none;
    box-shadow: 0 0 5px 0 var(--color-default);
    transition: background-color 300ms linear, opacity 1s ease-out, transform 150ms linear;
}

.floating-action-button:hover {
    background-color: var(--color-accent-light);
}

.segmented-button {
    width: 140px;
    height: 45px;
    background-color: color;
    display: flex;
    flex-flow: row nowrap;
}

.segment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    background-color: var(--color-accent-secondary);
    border: none;
    border-radius: var(--border-radius-standard);
    box-shadow: 0 0 5px 0 var(--color-default);
    transition: background-color 350ms ease;
}

.left-segment {
    border-radius: var(--border-radius-smooth) var(--border-radius-standard) var(--border-radius-standard) var(--border-radius-smooth);
}

.right-segment {
    border-radius: var(--border-radius-standard) var(--border-radius-smooth) var(--border-radius-smooth) var(--border-radius-standard);
}

.center-segment {
    margin: 0 2px;
}

.segment:hover {
    background-color: var(--color-accent-secondary-dark);
}

.switch-button {
    width: 100px;
    height: 50px;
    background-color: var(--color-tertiary);
    border: none;
    border-radius: 100px;
    transition: background-color 400ms ease;
}

.button-thumb {
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 100px;
    transition: margin-left 400ms ease, background-color 400ms ease;
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 120px;  
    background: transparent; 
    height: 3px;
    background: linear-gradient(to right, var(--color-accent-secondary) 0%, var(--color-accent-secondary) 50%, white 50%, white 100%);
    border-radius: var(--border-radius-standard);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: var(--color-accent-secondary);
    border-radius: 100px;
}

.card-navigation {
    width: 120px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.card-vertical {
    width: 50px;
    height: 120px;
    flex-flow: column nowrap;
}

.card-vertical > .card {
    width: 50px;
    height: 30px;
}

.card-vertical > .card:hover {
    transform: translateX(10px);
}

.card {
    width: 30px;
    height: 50px;
    border-radius: var(--border-radius-standard);
    background-color: var(--color-accent);
    box-shadow: 0 0 5px 0 var(--color-default);
    transition: transform 300ms ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: none;
}

.card:hover {
    transform: translateY(-10px);
}

.ring {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.center {
    width: 65px;
    height: 65px;
    border: 1px solid gray;
    border-radius: 100px;
    background-color: var(--color-secondary);
    z-index: 2;
}

.spinner {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: gray;
    transform: rotateZ(45deg);
    top: -53px;
    left: 0px;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    25% {
        transform: rotateZ(135deg);
        top: 0;
        left: 24px;
    }
    50% {
        transform: rotateZ(225deg);
        top: 53px;
        left: 0;
    }
    75% {
        transform: rotateZ(315deg);
        top: 0;
        left: -24px;
    }
    100% {
        transform: rotateZ(405deg);
        top: -53px;
        left: 0;
    }
}

.ring-2 {
    width: 75px;
    height: 75px;
    border-radius: 100px;
    border-style: solid;
    border-width: 6px;
    border-color: gray var(--color-secondary) gray var(--color-secondary);
    transform: rotateZ(45deg);
    animation: spinner-2 2s linear infinite
}

@keyframes spinner-2 {
    25% {
        transform: rotateZ(135deg);
    }
    50% {
        transform: rotateZ(225deg);
    }
    75% {
        transform: rotateZ(315deg);
    }   
    100% {
        transform: rotateZ(405deg);
    }
}


input[type="text"] {
    width: 16ch;
    padding: 8px;
    background-color: var(--color-accent-light);
    border-radius: var(--border-radius-standard);
    border: 1px solid var(--color-default);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.feedback-positive {
    box-shadow: 0 0 4px 2px var(--color-semantic-positive);
    animation: pulse-box-shadow-green 1.5s ease-in-out infinite;
}

.feedback-negative {
    box-shadow: 0 0 4px 2px var(--color-semantic-negative);
    animation: pulse-box-shadow-red 1.5s ease-in-out infinite;
}

@keyframes pulse-box-shadow-green {
    0% {
        box-shadow: 0 0 4px 2px var(--color-semantic-positive);
    }
    50% {
        box-shadow: 0 0 0 0 var(--color-transparent);
    }
    100% {
        box-shadow: 0 0 4px 2px var(--color-semantic-positive);
    }
}

@keyframes pulse-box-shadow-red {
    0% {
        box-shadow: 0 0 4px 2px var(--color-semantic-negative);
    }
    50% {
        box-shadow: 0 0 0 0 var(--color-transparent);
    }
    100% {
        box-shadow: 0 0 4px 2px var(--color-semantic-negative);
    }
}

.ripple-container {
    position: relative;
    width: 70px;
    height: 70px;
}

.ripple {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 3px solid white;
}

.first-ripple {
    animation: ripple 1s 0s linear infinite;
}

.second-ripple {
    animation: ripple 1s 250ms linear infinite;
}

.last-ripple {
    animation: ripple 1s 750ms linear infinite;
}

@keyframes ripple {
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.wave-effect {
    position: relative;
    top: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 125px;
    height: 80px;
}

.item {
    position: relative; 
    bottom: 0px;
    background-color: var(--color-accent-secondary);
    width: 23px;
    height: 20px;
    border-radius: var(--border-radius-standard);
}

.first-item {
    animation: jump 1.25s 0s ease-out infinite;
}

.second-item {
    animation: jump 1.25s 125ms ease-out infinite;
}

.third-item {
    animation: jump 1.25s 275ms ease-out infinite;
}

.fourth-item {
    animation: jump 1.25s 450ms ease-out infinite;
}

.last-item {
    animation: jump 1.25s 625ms ease-out infinite;
}

@keyframes jump {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 60px;
    }
    100% {
        bottom: 0px;
    }
}

.list-sequencing {
    background-color: gray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80px;
    height: 100px;
    border-radius: var(--border-radius-standard);
    overflow: hidden;
}

.list-item {
    position: relative;
    opacity: 0;
    width: 80%;
    height: 5px;
    border-radius: var(--border-radius-standard);
    background-color: var(--color-tertiary);
}

.first-list-item {
    animation: move-in 1.7s 0s ease-out infinite;
}

.second-list-item {
    animation: move-in 1.7s 125ms ease-out infinite;
}

.third-list-item {
    animation: move-in 1.7s 275ms ease-out infinite;
}

.fourth-list-item {
    animation: move-in 1.7s 450ms ease-out infinite;
}

@keyframes move-in {
    0% {
        left: -80%;
        opacity: 0;
    }
    30% {
        left: 0px;
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.circles-container {
    position: relative;
    width: 70px;
    height: 70px;
}

.white-circle {
    position: absolute;
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    animation: cover-area 3s 1.5s ease-out infinite;
    z-index: 0;
}

.black-circle {
    position: absolute;
    background-color: black;
    width: 70px;
    height: 70px;
    opacity: 0;
    border-radius: 100px;
    animation: cover-area 3s ease-out infinite;
    z-index: 0;
}

@keyframes cover-area {
    0% {
        z-index: 3;
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}