:root {
    --font-m: 1rem;
    --font-l: 1.5rem;
    --font-xxl: 2.5rem;
    --color-default: rgb(6, 6, 6);
    --color-secondary: rgb(20, 20, 20);
    --color-font: rgb(245, 245, 245);
    --border-radius-standard: 4px;
    --border-radius-smooth: 16px;
}

body {
    margin: 0;
    background-color: var(--color-default);
    color: var(--color-font);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: var(--font-m);
}

nav > ul {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.id-navigation-link, h1, .section-title {
    user-select: none;
}

.id-navigation-link {
    color: var(--color-font);
    display: inline-block;
    margin: 1rem;
}

h1 {
    margin: 1rem 1rem 2rem;
    font-size: var(--font-xxl);
    text-align: center;
}

.section-title {
    margin: 1rem;
    font-size: var(--font-l);
}

.container-anim-frames {
    display: flex;
    flex-flow: row wrap;
    height: 400px;
}

.container-tenItems {
    width: 90%;
    margin: 0 5%;
}

.container-eightItems {
    width: 80%;
    margin: 0 10%;
}

.animation-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    box-sizing: border-box;
    width: 19%;
    margin: 0.5%;
    border-radius: var(--border-radius-standard);
}

.container-eightItems > .animation-frame {
    width: 24%;
    margin: 0.5%;
}

.top-left-corner {
    border-top-left-radius: var(--border-radius-smooth);
}

.top-right-corner {
    border-top-right-radius: var(--border-radius-smooth);
}

.bottom-left-corner {
    border-bottom-left-radius: var(--border-radius-smooth);
}

.bottom-right-corner {
    border-bottom-right-radius: var(--border-radius-smooth);
}